[package]
name = "reqsign"
version = "0.0.0"
edition = "2021"
authors = ["Xuanwo <github@xuanwo.io>"]
description = "Signing requests for cloud services without heavy SDKs"
documentation = "https://docs.rs/reqsign"
license = "Apache-2.0"
categories = ["command-line-utilities", "web-programming"]

[[bench]]
name = "aws"
harness = false

[dependencies]
reqwest = "0.11"
anyhow = "1"
http = "0.2"
time = { version = "0.3", features = ["formatting", "parsing", "macros"] }
once_cell = "1"
sha2 = "0.10"
hmac = "0.12"
hex = "0.4"
log = "0.4"
async-trait = "0.1"
dirs = "4"
rust-ini = "0.18"
roxmltree = "0.14"

[dev-dependencies]
aws-sigv4 = "0.8"
env_logger = "0.9"
criterion = { version = "0.3", features = ["async_tokio", "html_reports"] }
tokio = { version = "1.17", features = ["full"] }
