[package]
authors = ["Xuanwo <github@xuanwo.io>"]
categories = ["command-line-utilities", "web-programming"]
description = "Signing API requests without effort."
documentation = "https://docs.rs/reqsign"
edition = "2021"
license = "Apache-2.0"
name = "reqsign"
version = "0.0.2"

[[bench]]
harness = false
name = "aws"

[dependencies]
anyhow = "1"
async-trait = "0.1"
base64 = "0.13"
bytes = "1.1"
dirs = "4"
form_urlencoded = "1"
hex = "0.4"
hmac = "0.12"
http = "0.2"
log = "0.4"
once_cell = "1"
percent-encoding = "2"
reqwest = "0.11"
roxmltree = "0.14"
rust-ini = "0.18"
sha2 = "0.10"
time = { version = "0.3.9", features = ["macros", "formatting", "parsing"] }
tokio = { version = "1.17", features = ["full"] }
serde = {version = "1.0.136", features = ["derive"]}
serde_json = "1.0.79"
jsonwebtoken = "8.0.1"

[dev-dependencies]
aws-sigv4 = "0.9"
criterion = { version = "0.3", features = ["async_tokio", "html_reports"] }
dotenv = "0.15"
env_logger = "0.9"
temp-env = "0.2"
