[package]
authors = ["Xuanwo <github@xuanwo.io>"]
categories = ["command-line-utilities", "web-programming"]
description = "Signing API requests without effort."
documentation = "https://docs.rs/reqsign"
edition = "2021"
license = "Apache-2.0"
name = "reqsign"
version = "0.8.5"

[package.metadata.docs.rs]
all-features = true

[features]
rustls = ["reqwest?/rustls-tls", "ureq/tls"]
native-tls = ["reqwest?/default-tls", "ureq/native-tls"]

http_types_request = ["http-types"]
reqwest_blocking_request = ["reqwest/blocking"]
reqwest_request = ["reqwest"]

[[bench]]
harness = false
name = "aws"

[[bench]]
harness = false
name = "oss"

[dependencies]
anyhow = "1"
backon = "0.4"
base64 = "0.21"
bytes = "1"
dirs = "5"
form_urlencoded = "1"
hex = "0.4"
hmac = "0.12"
http = "0.2"
http-types = { version = "2", optional = true }
jsonwebtoken = "8"
log = "0.4"
once_cell = "1"
percent-encoding = "2"
quick-xml = { version = "0.28", features = ["serialize"] }
reqwest = { version = "0.11", default-features = false, optional = true }
rust-ini = "0.18"
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha1 = "0.10"
sha2 = "0.10"
time = { version = "0.3", features = ["macros", "formatting", "parsing"] }
ureq = { version = "2.5", default-features = false }
rand = "0.8.5"
rsa = { version = "0.8.1", features = ["sha2"] }

[dev-dependencies]
aws-sigv4 = "0.54"
criterion = { version = "0.4", features = ["async_tokio", "html_reports"] }
dotenv = "0.15"
env_logger = "0.10"
reqwest = { version = "0.11", features = ["blocking", "json"] }
temp-env = "0.3"
tokio = { version = "1", features = ["full"] }
ureq = { version = "2.5" }
pretty_assertions = "1.3"
